@charset "UTF-8";
body {
  font-size: 14px;
  width: 100%;
  font-family: "Georgia", "TsukuBRdGothic-Regular", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  line-height: 1.6875;
  background: #EBEBEB;
  box-sizing: content-box;
  color: #333333;
}

@media screen and (min-width: 768px) {
  .inner {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 70px;
    box-sizing: content-box;
  }
}

img {
  width: 100%;
}

.contents {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.header__container {
  width: 100%;
  height: 70px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  line-height: 1;
}
.header__nav {
  justify-content: space-between;
  display: flex;
  width: 700px;
  height: 100%;
  align-items: center;
}
.header__nav-list {
  display: inline-block;
  width: 100px;
  text-align: center;
  height: 100%;
  align-items: center;
  padding: 22px 0;
}
.header__nav-list-en {
  font-size: 18px;
  line-height: 1;
}
.header__nav-list-ja {
  font-size: 12px;
}
.header__icon {
  margin-right: 5px;
}
.header__contactUs {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}
.header__contactUs-left {
  width: 130px;
  padding-top: 12px;
}
.header__contactUs-btn {
  width: 120px;
  height: 50px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  background: #df744a;
  text-align: center;
  border: 1px solid #333333;
  margin: 10px 20px 10px 0;
  padding: 10px 0;
}
.header__contactUs-a {
  color: #333333;
}
.header__tel {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", YuGothic, "Yu Gothic", sans-serif;
}
.header__time {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", YuGothic, "Yu Gothic", sans-serif;
}

.top {
  width: 100%;
  height: 730px;
  background: url(../img/26116200_l.jpg) center center/cover;
}

.side {
  width: 210px;
  height: 700px;
  background: #fff;
}
.side__feceBook {
  position: relative;
}
.side__feceBook img {
  width: 100%;
}
.side__feceBook-link {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}
.side__feceBook-logo {
  font-weight: bold;
  font-size: 17px;
}
.side__feceBook-p {
  width: 125px;
  background: #fff;
  font-size: 10px;
  font-weight: bold;
  border: solid 0.5px;
  text-align: center;
  margin-left: 15px;
  border-radius: 3px;
  padding: 5px 0;
}
.side__feceBook-p .icon {
  margin-right: 5px;
}
.side__Individual {
  padding: 30px 20px;
}
.side__Individual-link {
  font-size: 17px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(132, 129, 129);
}
.side__Individual-link::before {
  content: "\f152";
  font-family: Font Awesome\ 6 Free;
  font-weight: 400;
  margin-right: 10px;
  color: #dcb239;
}

.main {
  max-width: 890px;
}
.main__Message {
  width: 100%;
  height: 300px;
  background: #bfd8d2;
}
.main__Message-box {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.main__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #dcb239;
}
.main__text {
  font-size: 18px;
  margin-top: 20px;
}

.duties__title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  padding: 100px 0 40px 0;
}
.duties__items {
  display: flex;
  margin-top: 40px;
}
.duties__item {
  position: relative;
  width: 450px;
  height: 450px;
}
.duties__item-img {
  width: 450px;
  height: 450px;
  filter: opacity(95%);
}
.duties__item-title {
  font-size: 30px;
  font-weight: bold;
}
.duties__item-contents {
  font-size: 20px;
  font-weight: bold;
}
.duties__text {
  position: absolute;
  top: 120px;
  left: 62px;
  width: 330px;
  text-align: center;
  color: #090909;
  text-shadow: 1px 1px 0 rgb(218, 216, 216), -1px -1px 0 rgb(218, 216, 216), -1px 1px 0 rgb(218, 216, 216), 1px -1px 0 rgb(218, 216, 216), 0px 1px 0 rgb(218, 216, 216), -1px 0 rgb(218, 216, 216), -1px 0 0 rgb(218, 216, 216), 1px 0 0 rgb(218, 216, 216);
}

.gp__title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  padding: 100px 0 40px 0;
}
.gp__items {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin: 0 auto;
}
.gp__item {
  width: 400px;
  height: 400px;
  position: relative;
}
.gp__item:nth-child(2n) {
  border-left: 2px solid #dcb239;
}
.gp__item:nth-child(-n+2) {
  border-bottom: 2px solid #dcb239;
}
.gp__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gp__box-a {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gp__item-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
.gp__contents {
  width: 300px;
  text-align: center;
  margin-top: 20px;
}
.gp__title-box {
  display: flex;
}
.gp__img-1 {
  position: absolute;
  width: 90px;
  bottom: 20px;
  left: 40px;
}
.gp__img-2 {
  position: absolute;
  width: 90px;
  top: 15px;
  right: 10px;
}
.gp__img-3 {
  position: absolute;
  width: 100px;
  bottom: 20px;
  right: 35px;
}
.gp__img-4 {
  position: absolute;
  width: 120px;
  bottom: 10px;
  right: 10px;
}

.flow {
  margin-top: 100px;
}
.flow__box {
  width: 100%;
  background: #fedcd2;
}
.flow__title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  padding: 50px 0 70px 0;
}
.flow__items {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 70px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.flow__item-title {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  background: #f7ebe8;
}
.flow__text {
  padding: 10px 0;
  font-size: 16px;
  background: #f7ebe8;
}
.flow__item {
  height: 510px;
}
.flow__item:not(:last-child) {
  padding-left: 20px;
}
.flow__tel {
  padding-top: 25px;
  font-size: 18px;
}
.flow__tel-number {
  margin-top: 15px;
  font-size: 14px;
}
.flow__mail {
  margin-top: 15px;
  width: 40px;
  height: 220px;
  background: #df744a;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #333333;
}
.flow__mail-a {
  display: inline-block;
  color: #333333;
  padding: 30px 9px;
  font-size: 14px;
  font-weight: bold;
}
.flow__arrow {
  margin: 90px 20px 0 0;
}

.fa-caret-left {
  font-size: 37px;
  color: #dcb239;
}

.flow__tel-icon {
  font-size: 14px;
  margin: 20px 0 5px 0;
}

.representative__container {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */