@charset "utf-8";

$breakpoints: ( //キー　値
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (min-width: 768px)',
) !default;

@mixin mq($breakpoint: md) {

    //map-get（マップ型変数、キーで値を取得
    @media #{map-get($breakpoints,$breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}

$warm: #df744a;
$lemon: #dcb239;
$peach: #fedcd2;
$powder: #bfd8d2;

body {
    font-size: 14px;
    width: 100%;
    font-family: 'Georgia','TsukuBRdGothic-Regular',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    line-height: 1.6875; //27÷16
    background: #EBEBEB;
    box-sizing: content-box;
    color: #333333;

}

.inner {
    @include mq(md) {
     max-width: 1210px;
     margin: 0 auto;
     padding: 0 70px;
     box-sizing: content-box;
}
}

img {
    width: 100%;
}

.contents {
    display: flex;
    justify-content: space-between;
    //justify-content: flex-end;
    margin: 40px auto;//◉
}


.header {

    &__container {
        width: 100%;
        height: 70px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 200px;
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        line-height: 1;

    }

    &__nav {
        justify-content: space-between;
        display: flex;
        width: 700px;
        height: 100%;
        align-items: center;
    }

    &__nav-list {
        display: inline-block;
        width: 100px;
        text-align: center;
        height: 100%;
        align-items: center;
        padding: 22px 0;

        &-en {
            font-size: 18px;
            line-height: 1;
        }
        &-ja {
            font-size: 12px;
        }

    }

    &__icon {
       margin-right: 5px;
    }
    &__contactUs {
        width: 300px;
        display: flex;
        justify-content: flex-end;
        &-left {
            width: 130px;
            padding-top: 12px;
        }

        &-btn {
            width: 120px;
            height: 50px;
            border-radius: 4px;
            font-weight: bold;
            font-size: 16px;
            background: $warm;
            text-align: center;
            //box-shadow: 1px 1px 7px #3d3d3d;
            border: 1px solid #333333;
            margin: 10px 20px 10px 0;
            padding: 10px 0;
            }
    
            &-a {
                color: #333333;
    
            }
        }
    
        &__tel {
        font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;   
        }
        &__time {
        font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
        }

}


.top {
    width: 100%;
    height: 730px;
    background: url(../img/26116200_l.jpg)center center / cover;
}

.side {
    width: 210px;
    height: 700px;
    background: #fff;

   &__feceBook {
       position: relative;
       //height: 100;
       img {
           width: 100%;
       }

       &-link {
           position: absolute;
           top: 10px;
           left: 10px;
           display: flex;
       }
       &-logo {
           font-weight: bold;
           font-size: 17px;
       }

       &-p {
           width: 125px;
           background: #fff;
           font-size: 10px;
           font-weight: bold;
           border: solid 0.5px;
           text-align: center;
           margin-left: 15px;
           border-radius: 3px;
           padding: 5px 0;

           .icon {
               margin-right: 5px;
           }
        }
   } 

   &__Individual {
    padding: 30px 20px;

    &-link {
        font-size: 17px;
        padding: 10px 0;
        border-bottom: 1px solid rgb(132, 129, 129);
    }
    &-link::before {
        content: '\f152';
        font-family: Font Awesome\ 6 Free;
        font-weight: 400;
        margin-right: 10px;
        color: $lemon;
    }
   }
}


.main {
    max-width: 890px;
   &__Message {
       width: 100%;
       height: 300px;
       background: $powder;
   }

   &__Message-box {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

   &__title {
       font-size: 30px;
       font-weight: bold;
       text-align: center;
       border-bottom: 2px solid $lemon;
   }

   &__text {
       font-size: 18px;
       margin-top: 20px;
   }
}


.duties {

    &__title {
       font-size: 30px;
       font-weight: bold;
       margin-left: 20px;
       padding: 100px 0 40px 0;
    }

    &__items {
        display: flex;
        margin-top: 40px;
        
    }

    &__item {
        position: relative;
        width: 450px;
        height: 450px;


        &-img {
            width: 450px;
            height: 450px;
            filter: opacity(95%);
        }

        &-title {
            font-size: 30px;
            font-weight: bold;
        }
        &-contents {
            font-size: 20px;
            font-weight: bold;
            
    
        }
    }




    &__text {
        position: absolute;
        top: 120px;
        left: 62px;
        width: 330px;
        text-align: center;
        color: #090909;
        text-shadow:1px 1px 0 rgb(218, 216, 216), -1px -1px 0 rgb(218, 216, 216),
        -1px 1px 0 rgb(218, 216, 216), 1px -1px 0 rgb(218, 216, 216),
        0px 1px 0 rgb(218, 216, 216),  0-1px 0 rgb(218, 216, 216),
        -1px 0 0 rgb(218, 216, 216), 1px 0 0 rgb(218, 216, 216);
    }
}



.gp {

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-left: 20px;
        padding: 100px 0 40px 0;
     }

    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        height: 800px;
        margin: 0 auto;
    }

    &__item {
        width: 400px;
        height: 400px;
        position: relative;

        &:nth-child(2n) {
            border-left: 2px solid $lemon;
        }
        &:nth-child(-n+2) {
            border-bottom: 2px solid $lemon;
        }
    }

    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( - 50%, - 50% );
        &-a {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate( - 50%, - 50% );
        }
    }

    &__item-title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
    }

    &__contents {
        width: 300px;
        text-align: center;
        margin-top: 20px;

    }

    &__title-box {
        display: flex;
    }


    &__img {
        &-1 {
        position: absolute;
        width: 90px;
        bottom: 20px;
        left: 40px;

        }

        &-2 {
            position: absolute;
            width: 90px;
            top: 15px;
            right: 10px;
        }

        &-3 {
            position: absolute;
            width: 100px;
            bottom: 20px;
            right: 35px;
        }

        &-4 {
            position: absolute;
            width: 120px;
            bottom: 10px;
            right: 10px;
        }

    }
}


.flow {
    margin-top: 100px;

    &__box {
        width: 100%;
        background: $peach;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-left: 20px;
        padding: 50px 0 70px 0;
     }

     &__items {
         display: flex;
         flex-flow: column;
         justify-content: space-between;
         width: 800px;
         margin: 0 auto;
         padding-bottom: 70px;
     -ms-writing-mode: tb-rl;
     writing-mode: vertical-rl;
     text-orientation: upright;
     }

     &__item-title {
         padding: 10px 0;
         font-size: 18px;
         font-weight: bold;
         background: #f7ebe8;

     }

     &__text {
         padding: 10px 0;
         font-size: 16px;
         background: #f7ebe8;
     }

     &__item {
         height: 510px;
         &:not(:last-child) {
             padding-left: 20px;
         }
     }

     &__tel {
         padding-top: 25px;
         //font-weight: bold;
         font-size: 18px;
         &-number {
         margin-top: 15px;
         font-size: 14px;


     }
    }

     &__mail {
         margin-top: 15px;
         width: 40px;
         height: 220px;
         background: $warm;
         border-radius: 5px;
         margin-right: 5px;
         //box-shadow: 1px 1px 7px #3d3d3d;
         border: 1px solid #333333;

         &-a {
             display: inline-block;
             color: #333333;
             padding: 30px 9px;
             font-size: 14px;
             font-weight: bold;
         }
     }

     &__arrow {
         margin: 90px 20px 0 0;
     }

}

.fa-caret-left {
    font-size: 37px;
    color: $lemon;

}

.flow__tel-icon {
    font-size: 14px;
    margin: 20px 0 5px 0;
}



.representative {
    &__container {
        width: 100%;
    }
}